# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc

# Ignore hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
avatar.png

# Ignore specific folders
node_modules/
dist/